/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Color Pallet 
    242e36 dark grey
    5A6069 med grey
    828798 light grey
    D9BEB0  peach
    FbF9E9 Ivory
*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: orangered;
}

.btn-primary {
  color: #FBF9E9;
  background-color: #D9BEB0;
  border-color: #242E36;
  border-width: 2px;
}

button {
    background-color: #D9BEB0;
    color: #FBF9E9;
    border-color: #242E36;
}

nav {
    background-color: #ffd800;
    border-color: #1861ac;
}

.nav-link {
    color: red !important;

}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: grey;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#map {
    height: 600px;
    width: 100%;
}


nav {
    background-color: green;
}