@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Meet the Developers</h1>
<div class="container">
    <div>
        <p>Tiah Campbell</p>
        <img src="~/images/Tiah.jpg" />
        <ul>
            <li><a href=" https://www.linkedin.com/in/tiah-campbell/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/TiahCampbell" target="_blank">Github</a></li>
            <li><a href="https://tiahcampbell.github.io/" target="_blank">Portfolio</a></li>
        </ul>
    </div>
    <div>
        <p>Shannon Adams</p>
        <img src="~/ContentImages/me-woods213622532.jpg" />
        <ul>
            <li><a href="https://www.linkedin.com/in/sma1290/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/shanfrom90" target="_blank">Github</a></li>
            <li><a href="https://shanfrom90.github.io/" target="_blank">Portfolio</a></li>
        </ul>
    </div>
    <div>
        <p>Jason Kepic</p>
        <img src="~/images/Jason.jpg" />
        <ul>
            <li><a href="https://www.linkedin.com/in/jasonkepic/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/JAK719" target="_blank">Github</a></li>
            <li><a href="https://jak719.github.io/" target="_blank">Portfolio</a></li>
        </ul>
    </div>
    <div>
        <p>JE Woods</p>
        <img src="~/images/Je.jpg" />
        <ul>
            <li><a href="https://www.linkedin.com/in/jacob-woods/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/JE-Xex" target="_blank">Github</a></li>
            <li><a href="https://je-xex.github.io/" target="_blank">Portfolio</a></li>
        </ul>
    </div>
    <div>
        <p>Eric Faler</p>
        <img src="~/images/Eric.jpg" />
        <ul>
            <li><a href="https://www.linkedin.com/in/efaler/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/emfaler" target="_blank">Github</a></li>
            <li><a href="https://emfaler.github.io" target="_blank">Portfolio</a></li>
        </ul>
    </div>
</div>
</div>
