@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Meet the Developers</h1>
<div class="aboutContainer">
    <div class="about">
        <div class="Content">
        <img src="~/images/Tiah.jpg" />
        <h4>Tiah Campbell</h4>
            </div>
        <ul>
            <li><a href=" https://www.linkedin.com/in/tiah-campbell/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/TiahCampbell" target="_blank">Github</a></li>
            <li><a href="https://tiahcampbell.github.io/" target="_blank">Portfolio</a></li>
        </ul>
    </div>
    <div class="about">
        <div class="Content">
            <img src="~/ContentImages/me-woods213622532.jpg" />
        <h4>Shannon Adams</h4>
        </div>
            <ul>
                <li><a href="https://www.linkedin.com/in/sma1290/" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/shanfrom90" target="_blank">Github</a></li>
                <li><a href="https://shanfrom90.github.io/" target="_blank">Portfolio</a></li>
            </ul>
        </div>
        <div class="about">
            <div class="Content">
                <img src="~/images/Jason.jpg" />
            <h4>Jason Kepic</h4>
            </div>
                <ul>
                    <li><a href="https://www.linkedin.com/in/jasonkepic/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/JAK719" target="_blank">Github</a></li>
                    <li><a href="https://jak719.github.io/" target="_blank">Portfolio</a></li>
                </ul>
            </div>
            <div class="about">
                <div class="Content">
                    <img src="~/images/Je.jpg" />
                <h4>JE Woods</h4>
                </div>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/jacob-woods/" target="_blank">LinkedIn</a></li>
                        <li><a href="https://github.com/JE-Xex" target="_blank">Github</a></li>
                        <li><a href="https://je-xex.github.io/" target="_blank">Portfolio</a></li>
                    </ul>
                </div>
                <div class="about">
                    <div class="Content">
                        <img src="~/images/Eric.jpg" />
                    <h4>Eric Faler</h4>
                    </div>
                        <ul>
                            <li><a href="https://www.linkedin.com/in/efaler/" target="_blank">LinkedIn</a></li>
                            <li><a href="https://github.com/emfaler" target="_blank">Github</a></li>
                            <li><a href="https://emfaler.github.io" target="_blank">Portfolio</a></li>
                        </ul>
                    </div>
                </div>
</div>
