@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Community ROCKS</h1>
<p>Here you can find groups in your area and learn how to get started painting rocks!</p>
<a href="https://www.thekindnessrocksproject.com/group-search">Find a Group Near You</a>

<!-- 4:3 aspect ratio -->
<div class="embed-responsive embed-responsive-4by3">
    <iframe width="784" height="441" src="https://www.youtube.com/embed/jKMdLU46c3w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
