@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Community ROCKS</h1>


<!-- 4:3 aspect ratio -->
<div class="embed-responsive embed-responsive-4by3">
    <iframe width="784" height="441" src="https://www.youtube.com/embed/jKMdLU46c3w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <h4>About</h4>
    <ul>
        <li>
            <a href="https://en.wikipedia.org/wiki/The_Kindness_Rock_Project">Wikipedia</a>
        </li>
    </ul>
</div>
<div>
    <h4>How To Links</h4>
    <ul>
        <li>
            <a href="https://rockpainting101.com/how-to-paint-rocks-top-questions/">Top Questions</a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCPWS4FAogavnhNMujd7TuOw">Watch and Learn</a>
        </li>
    </ul>
</div>
<div>
    <h4>Inspire Me!</h4>
    <ul>
        <li>
            <a href="https://www.pinterest.com/cthomasrocks/rock-painting-ideas-helps/">Pinterest</a>
        </li>
        <li>
            <a href="https://www.reddit.com/r/rockpainting/">View Painted Rocks</a>
        </li>
    </ul>
</div>
<div>
    <h4>Community Pages</h4>
    <ul>
        <li>
            <a href="https://www.facebook.com/groups/1840242882913721">Painted rocks for everyone, everywhere.</a>
        </li>
        <li>
            <a href="https://www.facebook.com/groups/OhioRocks">Ohio Rocks</a>
        </li>
        <li>
            <a href="https://www.facebook.com/groups/northeastohiorocks/">Northeast Ohio Rocks</a>
        </li>
        <li>
            <a href="https://www.reddit.com/r/PaintedRocks/">Reddit</a>
        </li>
        <li>
            <a href="https://www.thekindnessrocksproject.com/group-search">Find a Group Near You</a>
        </li>
    </ul>
</div>